---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import ProjectsGallery from '../components/ProjectsGallery.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="MAGNUM TECHNOLOGY - Where Engineering Meets Creativity">
	<Header />
	<main class="pt-20">
		<Hero />
		<About />
		<Services />
		<ProjectsGallery />
		<Contact />
	</main>
	<Footer />
</Layout>
